body{
    background-image: url("sky.jpg");
    background-size: cover;
   display: inline;
 
}
.Form{
    padding: 50px;
     font-size: x-large; 
     text-align: flex;
     color: white;
     background: transparent;
   text-align: center;

}
h1{
   text-shadow: 3px 3px 3px hsl(240, 2%, 56%);
   font-size: xxx-large;
   
}

input{
    width: 15%;
    padding: 5px;
    margin: 10px;
    border: 20px;
    cursor: pointer;
    font-size: medium;
    border-style: solid;
  background: transparent;
    border-width: 2px;
   box-shadow: 3px 3px 5px rgb(74, 72, 74);
 
   border-radius: 40px;
}
input::placeholder{
    color: rgb(162, 160, 160);
    font-size: large;
}

.p{
    font-size: xx-large;
    border-radius: 30px;
  background-color:rgb(171, 167, 167);
    color: rgb(9, 9, 9);
    padding: 3px;
    margin: 5px;
    
    justify-content: left;
    width: 10%;
   
}
bx bxs-user{
    position: absolute;
    right: 20px;
}
.box i{
   
   border: 20px;
}
.s {
 
 font-size: xx-large;
    border-radius: 30px;
  background-color:rgb(171, 167, 167);
    color: rgb(9, 9, 9);
    padding: 3px;
    margin: 5px;
     justify-content: left;
    width: 10%;

}
.damu {
    outline: 0;
    border: none;
    box-shadow: none;
  justify-content: center;
    width: 140px;
    font-size: 1em;
    text-align: center;
    
    
}
#in{
  color: #fff;
}